.price-panel {
     height: 220px;
     padding: 1rem;
}

.price-panel  * {
     padding: 0;
     margin: 0;
}

.price-panel h3 {
     font-size: 15px;
     margin-bottom: 1rem;
}

.price-panel .pair-details {
     display: flex;
     gap: .4rem;
     margin-bottom: .1rem;
}

.price-panel .major {
     color: #7F7F7F;
     margin-bottom: 1.3rem;
}

.price-panel .big-price-details {
     display: flex;
     align-items: center;
     height: fit-content;
     gap: .5rem;
     margin-bottom: 1rem;
}

.price-panel .big-price-details .big-price {
     font-size: 32px;
     font-weight: bold;
     padding: 0;

}

.price-panel .big-price-details .big-change, .price-panel .big-price-details .big-percent {
     font-size: 17px;
}

.price-panel .ohlc {
     display: flex;
     justify-content: space-between;
}

.border-up {
     border: 2px solid green;
}

.border-down {
     border: 2px solid red;
}

.acting {
     border: 1px solid #55AA55;
}